body{
    font-family: 'Federant' , cursive;
    box-sizing: border-box;
    background-color: antiquewhite;
}
#logo{
    width: 40px;
   
}
.card-body{
    border: 1px solid black;
    border-radius: 2px;
   
}
.row{
   
    justify-content: space-around;
}
#name{
    margin: 2px;
}
#email{
    margin: 2px;
}
#profile-pic{
    margin: auto,auto;
    
}
#plus{
    float: right;
}
#plus:hover{

    background-color: rgb(255, 72, 0);
}
.pic-f{
    margin: 1px;
}
.tran-f{
    margin: 8px 2px;
    padding: 3px 5pxpx;
}
.vertical-scrollable {
 
  height: 450px;
    overflow-y: scroll; 
  }