body{
    font-family: 'Federant' , cursive;
    box-sizing: border-box;
    background-color: antiquewhite;
}
#logo{
    width: 40px;
   
}
.card-body{
    border: 1px solid black;
    border-radius: 2px;
   
}
.row{
   
    justify-content: space-around;
}
#name{
    margin: 2px;
}
#email{
    margin: 2px;
}
#profile-pic{
    margin: auto,auto;
    
}